V1_POSTGRES_DB=clawbot
V1_POSTGRES_USER=clawbot
V1_POSTGRES_PASSWORD=clawbot
V1_CONTROL_PLANE_PORT=8081
V1_CLAWMEM_PORT=8088
V1_TRUST_LAB_PORT=8090
V1_OPERATOR_UI_PORT=8091
V1_LOG_LEVEL=info
V1_BENCHMARK_SCHEDULER_ENABLED=false
V1_BENCHMARK_SCHEDULER_INTERVAL=24h
V1_BENCHMARK_SCHEDULER_MAX_RUNS=7
V1_BENCHMARK_SCHEDULER_DRY_RUN=true
